<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd"
        >
<hibernate-configuration>
    <session-factory>
        <property name="show_sql">true</property>

        <mapping class="beans.Faculty"/>
        <mapping class="beans.Role"/>
        <mapping class="beans.Statement"/>
        <mapping class="beans.Subject"/>
        <mapping class="beans.SubjectName"/>
        <mapping class="beans.User"/>
    </session-factory>
</hibernate-configuration>